@for(item of inputListaItens; track item){
  <label class="input-label-text" [for]="item.id">
    <input type="checkbox"
      #inputCheckbox
      [checked]="item.checked"
      (input)="updateItemCheckbox(item.id, inputCheckbox.checked)"
    >
    <input type="text"
      #inputValue
      [id]="item.id"
      [value]="item.value"
      placeholder="Descreva o item"
      autofocus
      (input)="updateItemDescricao(item.id, inputValue.value)"
    >

    <button class="btn btn-danger-circle" title="Excluir item" (click)="deleteItemId(item.id)" ></button>

  </label>
}
