<header
  [ngClass]="{'has-items': inputListaItems.length}"
>
  @if(inputListaItems.length){
    <h2>Minha Lista</h2>
  }

  <div
  >
  <!-- [ngClass]="{ container: inputListaItems.length }" -->
    <label
      class="input-label-text"
      for="inputValue"
      [ngClass]="{ 'remove-margin-bottom': !inputListaItems.length }"
    >

      <input
        type="text"
        placeholder="Adicione um novo item"
        id="inputValue"
        autofocus
        (keyup.enter)="focusAndAddItem(inputText.value)"
        #inputText
      />

      <button
        class="btn btn-primary-circle"
        (click)="focusAndAddItem(inputText.value)"
        title="Adicionar um novo item"
      ></button>
    </label>
  </div>

  <pre style="color: aliceblue">{{ inputText.value }}</pre>
</header>
