:host {
  height: 100vh;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div.container {
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn-primary, app-input-add-item {
      margin-top: 30px;
      width: 100%;
    }
  }

  main.container{
    height: calc(100vh - 130px - 90px); // vh para browser/navegadores que não funcionam
    height: calc(100dvh - 130px - 90px); // dvh para browser/navegadores que funcionam
    width: 100%;

    overflow: auto;

    // Criando barra de rolagem
    &::-webkit-scrollbar{
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--black-010);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--grey);
      border-radius: 5px;
    }
  }

  .titulo-pendente {
    color: var(--yellow);
  }
  .titulo-concluido {
    color: var(--primary);
  }

  footer {
    height: 90px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid var(--black-010);
  }

}
