@if(!getListaItems().length){

  <div class="container">
    <img
      src="assets/img/task-list-null.png"
      alt="Sua lista está vazia - imagem ilustrativa"
      loading="eager"
    />

    @if(addItemTarefa() == true){
      <button class="btn btn-primary" (click)="addItemTarefa.set(false)">Crie uma Lista de Tarefas</button>
    } @else {
      <app-input-add-item
        [inputListaItems]="getListaItems()"
        (outputAddListaItem)="getInputAddListaItem($event)"
      ></app-input-add-item>
    }
  </div>

} @else {

  <app-input-add-item
    [inputListaItems]="getListaItems()"
    (outputAddListaItem)="getInputAddListaItem($event)"
  ></app-input-add-item>

  <main class="container">

    <pre>{{ getListaItems() | json }}</pre>
  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">Deletar Todos os Itens</button>
  </footer>
}
