@if(!getListaItens().length){

  <div class="container">
    <img
      src="assets/img/task-list-null.png"
      alt="Sua lista está vazia - imagem ilustrativa"
      loading="eager"
    />

    @if(addItemTarefa() == true){
      <button class="btn btn-primary" (click)="addItemTarefa.set(false)">Crie uma Lista de Tarefas</button>
    } @else {
      <app-input-add-item
        [inputListaItens]="getListaItens()"
        (outputAddListaItem)="getInputAddListaItem($event)"
      ></app-input-add-item>
    }
  </div>

} @else {

  <app-input-add-item
    [inputListaItens]="getListaItens()"
    (outputAddListaItem)="getInputAddListaItem($event)"
  ></app-input-add-item>

  <main class="container">

    @if(listaItensStage('pendentes').length > 0) {
      <h3>Pendentes</h3>
      <app-input-lista-itens
        [inputListaItens]="listaItensStage('pendentes')"
      ></app-input-lista-itens>
    }

    @if(listaItensStage('concluidas').length > 0) {
      <h3>Concluídos</h3>
      <app-input-lista-itens
        [inputListaItens]="listaItensStage('concluidas')"
      ></app-input-lista-itens>
    }

    <pre>{{ getListaItens() | json }}</pre>
  </main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItens()">Deletar Todos os Itens</button>
  </footer>
}
