:root{
  --primary: #2fbf71;
  --primary-010: #20854e;

  --white: #fff;

  --grey: #9b9ba0;

  --black: #10101a;
  --black-010: #2a2a30;

  --red: #c90025;
  --red-010: #a3001e;

  --yellow: #e0d100;
  --yellow-010: #aa9f00;
}
